<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartera</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%# Titulo %>
<h1> <%= nombre.capitalize%> </h1>

<%# Ordenamos las fechas OJO cambiamos el objeto %>
<% transacciones.sort_by! {|hsh| hsh[:fecha] } %>

<%# Poniendole %20 al nombre para pasarlo por las paginas%>
<% nombre_con_20 = nombre.gsub(" ", "%20")%>

<%# Boton para borrar el cliente%>
<form method="post" action=/clientes/<%= nombre_con_20 %>> 
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Borrar Cliente</button>
</form>

<%# Los encabezados  Monto y Fecha%>
<div class="abono" style="color:black; font-size:large"><strong>Monto</strong><span class="div-span"><strong>Fecha</strong></span></div>

<%# Mostramos todas las transacciones%>
<% transacciones.each do |t| %>
  <% if t[:monto] > 0 %>
    <div class="abono">
  <% else %>
    <div class="compra">
  <% end %>
    <%= t[:monto]%><span class="div-span"><%= t[:fecha].strftime('%d-%b-%y') %></span>
    
    <%# Boton para BORRAR una TRANSACCION de un CLIENTE %>
    <form method="post" action=/clientes/<%= nombre_con_20 + "/" + t[:id].to_s %>"> 
      
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="id" value=<%= t[:id] %>>
      
      <button type="submit">Borrar Transaccion</button>
    </form>
    </div>
<% end %>

<%# Linea%>
<hr>

<%# TOTAL %>
<p class="total"><%= transacciones.sum {|t| t[:monto]} %> <span class="total-span">TOTAL</span></p>

<%# Boton para AGREGAR una TRANSACCION al CLIENTE %>
<form method="post" action=/clientes/<%= nombre_con_20 %>>
  <label for="monto">Monto: </label>
  <input type="number" name="monto" required>

  <div>
    <label for="fecha">Fecha: </label>
    <input type="date" name="fecha" required>
  </div>

  <input type="submit" value="Agregar Transaccion">
</form>

<%# Boton para regresar a los clientes%>
<a href="/clientes"> <button>Clientes</button>

</body>
</html>
