<%# Conexion a base de datos cartera de los clientes%>
<% load "cartera.rb"%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartera</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1> <%= nombre.capitalize%> </h1>

<%# Sacamos el record de la base de datos%>
<%# y lo transformamos a una lista de hashes para poder usarlo%>
<% transacciones = DB[:transacciones]
   transacciones = transacciones.all
%>



<div class="abono" style="color:black; font-size:large"><strong>Monto</strong><span class="div-span"><strong>Fecha</strong></span></div>

<% transacciones.each do |t|%>
  <% if t[:monto] > 0 %>
    <div class="abono"><%=t[:monto]%><span class="div-span"><%=t[:fecha]%></span></div>
  <% else %>
    <div class="compra"><%=t[:monto]%><span class="div-span"><%=t[:fecha]%></span></div>
  <% end %>
<% end %>

<hr>
<p class="total"><%=transacciones.sum {|t| t[:monto]}%> <span class="total-span">TOTAL</span></p>


</body>
</html>
